<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Xest Window Manager - $title$</title>
        <link rel="icon" href="/images/xestlogo.png">
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <header>
            <div class="logo" style>
                <a href="/"><!--<img src="/images/xestreordered.svg" style="margin: 10px; height: 10em;" />!--></a>
                <!-- <a href="/">Xest Window Manager</a> -->
            </div>
            <nav>
                <a href="/">Home</a>
                <a href="https://github.com/jhgarner/Xest-Window-Manager">Github</a>
                <a href="/userguide.html">User Guide</a>
                <a href="https://app.element.io/#/room/!iaDRSCyjeRToGSBZfL:matrix.org?via=matrix.org">Chat</a>
            </nav>
        </header>

        <main role="main">
            $body$
        </main>

    </body>
</html>
